.character-box {
  flex-direction: column;
  padding: 2rem;
  background-color: $background-color-dark;
  color: $text-color-light;

  .p-image,
  .p-image-preview-container,
  img {
    // width: 170px !important;
    height: 400px !important;
  }

  .character-data-item {
    
    font-size: large;
    font-weight: 600;
    a {
      margin: 0;
      color: $text-color-gold;
    }
  }
}
