.dashboard-user-info {
  .p-avatar,
  .p-avatar-image {
    width: 140px;
    height: 140px;
  }
  h1 {
    @include marginY(0);
  }
  h3 {
    margin-top: 10px;
  }
  .dashboard-user-stats {
    p {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
.dashboard-user-details {
  padding-right: 10%;
  @include respond (desktop) {
    padding-right: 0;
  }
  
  .p-card {
    background-color: $background-transparent;
    .item {
      margin-bottom: 3rem;
      label {
        font-size: 20px;
      }
      input,
      .p-dropdown,
      .p-inputtextarea {
        margin-top: 5px;
        @include darkInput();
        border: none;

        &:focus,
        &:hover {
          box-shadow: none !important;
          border-color: $text-color-silver !important;
        }

        .p-inputtext {
          text-align: start;
          @include darkInput();
        }
      }
      .p-fileupload {
        .p-button {
          margin-top: 10px;
          border: none;
          background: $text-color-pink !important;
          border-color: white;
        }
      }
    }
  }
}
