.dashboard-user-info {
  .p-avatar,
  .p-avatar-image {
    width: 140px;
    height: 140px;
    
  }
  h1 {
    @include marginY(0);
  }
  h3 {
    margin-top: 10px;
  }
  .dashboard-user-stats {
    p {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
