.favorites-container {
  padding: 1rem;
  @include darkBackground();

  .favorites-list {
    h3 {
      margin: 10px;
      cursor: pointer;
      &:hover {
        color: $text-color-gold;
      }
    }
    .favorite-list-item {
      margin: 15px;
      height: 50px;
    }
  }

  .favorites-options {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    input {
      @include darkInput();
    }
    .p-button {
      width: 100px;
      margin-left: 5px;
      @include purpleButton();
    }
  }
}
