.filters-container {
  padding: 1rem;
  @include darkBackground();
  // width: 60vw;

  .filter-in,
  .filter-out,
  .filter-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    h3 {
      span {
        float: right;
        @include paddingX(5px);
        border: solid 0.1px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          color: $text-color-red;
        }
      }
    }

    .p-inputtext,
    .p-dropdown {
      // width: 23%;
      height: 39px;
      margin-bottom: 1rem;
      margin-right: 0.5rem;
      background-color: $background-transparent;
      border-color: $background-color-dark;
      border-radius: 0;
      color: $text-color-silver;
      font-size: large;
      .p-inputtext {
        border: none !important;
      }
    }

    .p-button {
      width: 80px;
    }
    .clear-button {
      @include redButton()
    }
    .filter-button {
      margin-left: 1rem;
      @include purpleButton()
    }
  }
  .filter-buttons {
    flex-direction: row-reverse;
  }
}

