.game-details-wrapper {
  padding-left: 3%;

  .edit-button {
    border-color: #2f2e2e;
    color: #2f2e2e;
    &:hover {
      background-color: #2f2e2e !important;
      color: white !important;
    }
  }
  .delete-button {
    &:hover {
      background-color: #d32f2f !important;
      color: white !important;
    }
  }

  .game-details-image {
    width: 50%;
    .p-image,
    .p-image-preview-container,
    .p-image-preview-indicator,
    img {
      width: 100%;
    }
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
  .game-details-fields {
    p {
      font-size: larger;
    }
    span {
      font-weight: 700;
    }
    .score {
      font-weight: 900;
    }
  }
  .game-details-edit {
    .p-inputtextarea {
      height: 142px !important;
    }
    .p-fileupload {
      width: 100%;
    }
    .p-fileupload-buttonbar {
      background-color: $background-color-dark2;

      span,
      button {
        background: white !important;
        border-color: black;
        color: black;
        &:hover {
          border-color: white;
        }
      }
    }
  }
}
