.game-info-box-container {
  text-align: center;
  background: $background-transparent-darker;
  width: 160px;
  padding: 10px;
  border-radius: 10px;
  i {
    width: 100%;
    font-size: 50px;
  }
  .game-info-box-number {
    font-size: larger;
    .info-number {
      @include marginY(0);
      font-size: 50px;
    }
  }
  .info-steam {
    height: 100px;
    align-items: center;
    img {
      width: 100%;
    }
  }
}
