.game-form {
  background-color: $background-color-dark;
  @include paddingX(5%);
  @include paddingY(2%);
  color: white;

  .game-form-item {
    label {
      @include fontSizeLarge;
    }
    input,
    .p-inputtext,
    .p-dropdown,
    .p-inputtextarea,
    .p-chips {
      @include darkInput();

      &:focus,
      &:hover {
        box-shadow: none !important;
        border-color: $text-color-silver !important;
      }

      .p-inputtext {
        text-align: start;
        @include darkInput();
      }
    }
    .p-chips {
      @include darkChips();
    }

    .p-fileupload {
      .p-button {
        @include blackButton;
      }
    }
    .p-fileupload-buttonbar {
      background-color: $background-transparent-darker;
      
      span,
      button {
        background: $text-color-pink !important;
        border-color: white;
      }
    }
}
}