.game-box-container {
  background-color: $background-color-darker;
  border-radius: 15px;
  padding: 5px 8px;
  .game-box-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-bottom: 5px;
    align-items: center;
    .score {
      font-size: 28px;
    }
    .favorite-icon {
      font-size: 20px;
      cursor: pointer;
      transition: 0.5s ease;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }
    p {
      max-width: 240px;
      margin: 0;
    }
  }
  .game-box-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding-top: 5px;
    align-items: center;
    .status {
      font-size: small;
      @include paddingX(5px);
      border-radius: 7px;
    }
    .details-icon {
      cursor: pointer;
      font-size: 18px;
    }
    .delete-icon {
      font-size: 18px;
      cursor: pointer;
      color: $text-color-red;
    }
  }
}
.game-box-img {
  width: 100%;
  @include paddingX(10px);
  border-radius: 15px;
  img {
    opacity: 1;
    width: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 15px;
    border: 1px solid $gs-colors-silver;
  }
}

.add-box {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px dashed gray;
  cursor: pointer;
  &:hover {
    color: $gs-colors-silver;
    border-color: $gs-colors-silver;
  }
}


  
