.login-form {
  .login-form-content {
    text-align: center;
  }

  .p-inputtext,
  .p-password {
    width: 50%;
    align-self: center;
  }

  .p-password {
    .p-inputtext {
      width: 100%;
    }
  }

  .p-panel-header {
    @include darkBackground();
  }

  .upload-button {
    border-radius: 5px;
    @include purpleButton;
    width: 30%;
    align-self: center;
  }
}
