.login-form {
  // @include centerContent();

  .login-form-content {
    text-align: center;
  }

  .p-inputtext,
  .p-password {
    width: 50%;
    align-self: center;
  }

  .p-password {
    .p-inputtext {
      width: 100%;
    }
  }

  .p-panel-header {
    @include darkBackground();
  }

  .error-message {
    color: red;
    margin-top: 5px;
  }

  .upload-button {
    border-radius: 5px;
    border: none !important;
    background-color: $background-color-purple !important;
    padding: 0.5rem;
    text-align: center;
    width: 30%;
    align-self: center;

    &:hover {
      background-color: lighten(
        $color: $background-color-purple,
        $amount: 2
      ) !important;
    }
  }
}
