.playedgames-content {
  margin-left: 25px;
  margin-top: 2rem;
  text-align: center;
  @media screen and (min-width: 1500px) {
    margin: 0 auto;
    width: 80%;
  }
}
.filters {
  margin-bottom: 20px;
}

.p-accordion .p-accordion-header-link {
  border: none !important;
  &:focus {
    outline: none !important;
    border: none;
    box-shadow: none !important;
  }
}
.p-accordion .p-accordion-header {
  width: 100px;
  a {
    background-color: $background-gray !important;
  }
}
.p-accordion-content {
  background-color: $background-gray !important;

  border: none !important;
  border-radius: 10px !important;
  input {
    background-color: $background-gray;
    color: black;
    font-weight: 600;
    font-size: large;
    margin-right: 10px;
    border-radius: 0px;
    border: none;
    border-bottom: solid 1px black;

    &:focus {
      border: none !important;
      border-bottom: solid 1px white !important;
      box-shadow: none !important;
    }
  }
}
.filters-content {
  display: flex;
}
