.playing-carrousel,
.p-carrousel,
.p-carrousel-content {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;

  .content {
    height: 100%;
    width: 100%;
    cursor: pointer;
    img {
      height: 90%;
      width: 100%;
      
    }
    .details {
      height: 90%;
      width: 100%;
      display: block;
      position: absolute;
      background-image: linear-gradient(
        200deg,
        rgba(137, 137, 137, 0.64) 14%,
        rgba(3, 10, 0, 0.95) 100%
      );
      background-attachment: fixed;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 10%;
      

      .status_tittle {
        color: $text-color-yellow;
      }
    }
  }
}
