.playing-carrousel {
  text-align: center;

  @include crystalBox();
  .content {
    width: 95%;
    img {
      position: relative;
      right: 5px;
      top: 15px;
      height: 145px;
      border: dashed;
      cursor: pointer;
    }
    .details {
      display: inline;
      position: relative;
      left: 7px;
      top: 5px;
      .status_tittle {
        color: $text-color-yellow;
      }
    }
  }
}
