.played-games-list {
  padding: 15px;
  @include centerContent($width: 95%);

  .p-dialog {
    border-radius: 20px;
  }

  .games-quantity-text {
    position: absolute;
    right: 2%;
    top: 30px;
  }

  .custom-scrolltop {
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    background-color: $background-color-purple !important;
  }
  .custom-scrolltop:hover {
    background-color: var(--primary-color) !important;
  }

  .custom-scrolltop .p-scrolltop-icon {
    font-size: 1rem;
    color: white;
  }
}

.options-container {
  margin-bottom: 15px;
  width: 100%;
  .p-button {
    margin-right: 10px;
    @include blackButton();
  }
  .p-inputtext {
    margin-right: 1rem;
    border-color: $background-color-dark;
    @include darkInput();
  }
  @include respond(phone) {
    .p-inputtext {
      width: 60%;
    }
    .p-button-label {
      display: none;
    }
    .p-button-icon {
      margin-right: 0;
    }
  }
}
