.search-game-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  transition: 1s ease;
  background-color: rgba($color: gray, $alpha: 0.1);
  padding: 8px;
  border-radius: 15px;
  height: 215px;

  #search-game-input {
    @include darkInput;
    border-radius: 8px
  }

  .search-game-list {
    padding: 10px;
    overflow-x: auto;
    width: 100%;

    img {
      cursor: pointer;
      border-radius: 15px;
      transition: 0.3s ease;
      &:hover {
        height: 125px;
      }
      &:active {
        border: 0.5px solid $gs-colors-silver;
      }
    }
  }
}