.logo-section {
  @include paddingY(0.5rem);
  display: flex;
  justify-content: center;
  
  a {
    width: 100%;
    text-align: center;
    color: $gs-colors-purple;
  }
}

.menu-section {
  @include paddingY(0.5rem);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;

  .menu-item {
    width: 90%;
    display: flex;
    padding-left: 1rem;

    a {
      width: 100%;
      color: $text-color-light;
      &:hover {
        color: $text-color-yellow;
      }
    }
  }
}
