.top10header {
  text-align: center;
}
.top10games {
  @include marginX(20px);
  margin-bottom: 60px;
}
.top10-item {
  @include marginX(10px);
}
.top10-newgame {
  @include marginX(40px);
  .p-scrollpanel-bar-x {
    background-color: $background-color-purple;
  }
}
.top10-remove-button {
  position: absolute;
  width: 70px !important;
  height: 70px !important;
  bottom: 250px;
  right: 100px;
  transition: all 0.5s ease;
  &::hover {
    background-color: lighten($color: red, $amount: 2) !important;
  }
}
.p-overlaypanel .p-overlaypanel-content {
  padding: 0 !important;
}
