.top10content {
}
.top10header {
  text-align: center;
}
.top10group {
  border: solid 1px;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: $background-opaque;
  backdrop-filter: blur(10px);
}
.p-overlaypanel .p-overlaypanel-content {
  padding: 0 !important;
}

body.dark-mode {
}
