.top10content {
  @include centerContent();
}
.top10header {
  text-align: center;
}
.top10-characters-container {
  @include centerContent(90%);
}
.top10-character-info {
  @include centerContent(90%);
  margin-top: 50px;
  a {
    margin-left: 0 !important;
  }
}
.top10-character {
  text-align: center;
  .p-image,
  .p-image-preview-container,
  img {
    width: 170px !important;
    height: 300px !important;
  }
  .top10-characters-handle {
    margin-top: 20px;
    .p-button {
      background: none;
      border: none;
      color: black;
      width: 20px !important;
      height: 25px !important;
      &:hover {
        background-color: $text-color-dark-gray;
        color: white;
      }
    }
  }
}
