.top10content {
  @include centerContent();
}
.top10header {
  text-align: center;
}

.top10characterbox {
  width: 153px;
  height: 380px;
  margin-right: 10px;
  border: solid 1px black;
}

.top10charactersimg {
  width: 150px;
  height: 300px;
}

body.dark-mode {
  .top10characterbox {
    border: solid 1px white;
  }
  .p-fileupload-buttonbar {
    background-color: $background-color-dark2;
    span,
    button {
      background: $background-color-purple !important;
      border-color: white;
    }
  }
}
