.topbar {
  background-color: $background-color-dark2;
  color: white;
  width: 100vw;
  padding-right: 3rem;

  .sidemenu-icon {
    @media (min-width: 1055px) {
      display: none !important;
    }
  }
  .topbar-links {
    @include respond(tab-land) {
      display: none !important;
      transition: 1s ease;
    }
  }

  @include paddingY(0);
  .topbar-element {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 30px;
    color: $text-color-purple;
    cursor: pointer;
  }
  a {
    color: $text-color-light;
    @include fontSizeLarge;
    font-weight: 600;
    @include paddingX(10px);
    @include paddingY(5px);
    @include marginY(0);
    @include marginX(8px);

    &:hover {
      background-color: $background-color-semi-transparent-light;
      border-radius: 10px;
    }
  }
  .p-avatar {
    cursor: pointer;
  }
}

.sticky-section {
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top: 0px;
}

.p-menu,
.p-menu-list,
.p-menuitem,
.p-menuitem-link {
  justify-content: center;
  background-color: $background-color-dark2 !important;
}
.p-menu {
  border-top: solid 4px $text-color-pink !important;
}
.p-menuitem-link {
  &:hover {
    background-color: $background-color-semi-transparent-light !important;
    border-radius: 10px !important;
  }
}
.p-menuitem-text {
  color: $text-color-light !important;
}

.menu-sidebar {
  background-color: $background-color-dark2;
}
