.topbar {
  // background: $background-purple;
  background-color: $background-color-dark2;
  height: 40px;
  width: 100%;
  @include paddingY(0);
  @include paddingX(3rem);
  a {
    color: $text-color-light;
    font-size: medium;
    margin-right: 30px;
    margin-left: 20px;
    &:hover {
      text-decoration: underline dotted !important;
    }
  }
  .logo {
    color: $text-color-light;
  }

  .p-avatar {
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: $background-color-purple;
      color: white;
    }
  }
}
.p-dialog-content {
  padding: 0 !important;
}

.sticky-section {
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top: 0px;
}
