.upload-game-form {
  @include centerContent(70%);
  // text-align: center;
  margin: 10px;

  .p-panel-content {
    // background: $background-gray-gradient;
  }

  .p-panel-header {
    @include darkBackground();
  }
  .p-fileupload {
    width: 40%;
    margin-bottom: 3rem;
  }
  .p-fileupload-buttonbar {
    background-color: $background-color-dark2;

    span,
    button {
      background: $background-color-purple !important;
      border-color: white;
    }
  }
}
.upload-game-fields {
  .p-steps-item {
    a {
      width: 120px;
      background-color: transparent !important;
    }
  }
  .form-content {
    margin-top: 3rem;
    padding-left: 5rem;

    input,
    .p-dropdown {
      color: black;
      font-weight: 400;
      font-size: large;
      width: 40%;
      height: 40px;

      &:focus {
        // @include bottomBorder(black);
        box-shadow: none !important;
      }
    }
    .p-inputtextarea {
      width: 40% !important;
    }

    .item {
      margin-bottom: 3rem;
    }

    .error-message {
      color: red;
      margin-top: 5px;
    }
    .p-button {
      margin-right: 10px;
    }
    .watch-data-item {
      margin: 10px;
      font-size: large;
      font-weight: 600;
    }
  }
}

.upload-button-span {
  padding-left: 5rem;
  .p-button {
    margin: 2rem;
  }
  .upload-button {
    border-radius: 5px;
    border: none !important;
    background-color: $background-color-purple !important;
    // @include arrowBorderRight;
    padding: 0.5rem;
    text-align: center;
    // transition: all 0.5s ease;
    // cursor: pointer;

    &:hover {
      background-color: lighten(
        $color: $background-color-purple,
        $amount: 2
      ) !important;
    }
  }
}
