.upload-game-wrapper {
  text-align: center;
  overflow-x: hidden;

  #form-wrapper {
    display: inline-flex;
    transition: all 500ms;
    min-width: 100vw;

    .upload-game-step {
      width: 100vw;
      display: flex;
      justify-content: center;
    }
  }

  .upload-game-form {
    background-color: $background-transparent;
    border-radius: 10px;
    padding: 3rem;
    margin-top: 1rem;
    @media (max-width: 768px) {
      width: 90%;
      @include paddingX(1rem);
      @include marginX(10%)
    }
    width: 50%;
    @include marginX(25%);
    box-shadow: 0 0.5rem 1rem 0 rgba(216, 118, 192, 0.1);

    .error-message {
      color: red;
    }

    .item {
      margin-bottom: 3rem;
      label {
        font-size: 20px;
      }
      input,
      .p-dropdown,
      .p-inputtextarea {
        margin-top: 5px;
        color: white;
        font-weight: 400;
        font-size: larger;
        background-color: $background-transparent-darker;
        border: none;

        &:focus,
        &:hover {
          box-shadow: none !important;
          border-color: $text-color-silver !important;
        }

        .p-inputtext {
          text-align: start;
          color: white;
          font-weight: 400;
          font-size: large;
          background-color: $background-transparent-darker;
        }
      }
      .p-fileupload-buttonbar {
        background-color: $background-transparent-darker;

        span,
        button {
          background: $text-color-pink !important;
          border-color: white;
        }
      }
    }

    table {
      margin-bottom: 3rem;
      font-size: 20px;
       td {
        padding: 0.5rem;
       }
    }

    .upload-button {
      background: none;
      border: none;
      font-size: 30px;
      font-weight: 800;
      text-transform: uppercase;
      &:hover {
        color: $text-color-pink;
      }
      @media (max-width: 900px) {
        float: none;
        margin-top: 3rem;
      }
    }

    .form-last-step-buton {
      @media (max-width: 900px) {
        float: none;
        margin-top: 3rem;
      }
    }

    .button-span {
      font-size: 30px;
      
      font-weight: 800;
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        color: $text-color-pink;
      }
    }
  }
}


