.game-details-wrapper {
  @include paddingX(3%);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .p-dialog,
  .p-dialog-content {
    background: none;
  }

  .game-details-fields {
    text-align: start;
    p {
      font-size: larger;
    }
    span {
      font-weight: 700;
    }
    .game-details-info-box {
      width: 100%;
    }
  }
  .game-details-edit {
    .p-inputtextarea {
      height: 142px !important;
    }
    .p-fileupload {
      width: 100%;
    }
    .p-fileupload-buttonbar {
      background-color: $background-color-dark2;

      span,
      button {
        background: white !important;
        border-color: black;
        color: black;
        &:hover {
          border-color: white;
        }
      }
    }
  }
}
