.upload-game-form-wrapper {
  width: 50%;
  @include respond(tab-land) {
    width: 65%;
  }
  @include respond(tab-port) {
    width: 80%;
  }
  @include respond(phone) {
    width: 100%;
  }
  box-shadow: 0.2rem 0.5rem 1rem 0 $gs-colors-purple;
}
