a {
  text-decoration: none;
  margin: 5px;
}

body {
  background-color: $background-color-light;
  overflow-x: hidden;

  //   color: $background-color-dark;
}

body.dark-mode {
  background-color: $background-color-dark;
  h2,
  h1,
  p {
    color: $background-color-light;
  }
  .p-card {
    background-color: $background-color-dark2;
    color: white !important;
  }
  .playing-carrousel {
    background-color: $background-color-dark2 !important;
  }
  .p-accordion .p-accordion-header {
    width: 100px;
    a {
      color: $text-color-light !important;
      background-color: $background-color-dark !important;
    }
  }
  .p-accordion-content {
    border: none !important;
    background-color: $background-color-dark2 !important;
    color: white !important;
    input {
      background-color: $background-color-dark2;
      border: none;
      border-bottom: solid 1px white;
      color: white;
    }
  }
  .upload-game-fields {
    input,
    .p-dropdown,
    .p-dropdown-panel {
      background-color: $background-color-input-dark;
      border: solid 1px black;
      color: white;
      .p-dropdown-label {
        color: white;
      }
    }
    .p-fileupload-buttonbar {
      background-color: $background-color-dark2;

      span,
      button {
        background: $background-color-purple !important;
        border-color: white;
      }
    }
  }
}

.score-good {
  font-weight: 800;
  color: $text-color-green !important;
}
.score-mid {
  font-weight: 800;
  color: $text-color-yellow !important;
}
.score-bad {
  font-weight: 800;
  color: $text-color-red !important;
}
.score-perfect {
  font-weight: 800;
  color: $text-color-blue !important;
}

.status-completed {
  background-color: $status-color-completed;
  color: white;
}
.status-incomplete {
  background-color: $status-color-incomplete;
  color: white;
}
.status-dropped {
  background-color: $status-color-dropped;
  color: white;
}
