a {
  text-decoration: none;
  margin: 5px;
}

body {
  // background: $background-purple2;
  // background-color: $background-color-light;
  overflow-x: hidden;
  // overflow-y: hidden;
  // background-image: url('../images/pink wave background.png');
  // background-size: cover;
  font-family: 'Roboto';
}

body.dark-mode {
  background-color: $background-color-dark;
  h2,
  h1,
  h3,
  h4,
  h5,
  a,
  p {
    color: $background-color-light;
  }
  .p-card {
    @include darkBackground;
  }
}

.sidebar-container {
  border-right: solid $background-color-light;
  background-color: $background-color-dark2;
  height: 101vh;
}
// .content-container {
//   padding-top: 80px;
//   height: calc(100vh - 80px);
// }

.p-inputtext,
.p-dropdown {
  &:focus {
    @include removeFocusBehavior;
  }
  &:hover {
    @include removeFocusBehavior;
  }
}
.p-avatar-circle {
    border-radius: 50% !important;
}
.p-scrollpanel-bar-y {
  background-color: $text-color-purple !important;
}

.p-dialog-titlebar-close {
  outline: none;
  &:focus {
    outline: none !important;
  }
}

.score-good {
  font-weight: 800;
  color: $text-color-green !important;
}
.score-mid {
  font-weight: 800;
  color: $text-color-yellow !important;
}
.score-bad {
  font-weight: 800;
  color: $text-color-red !important;
}
.score-perfect {
  font-weight: 800;
  color: $text-color-purple !important;
}

.status {
  color: white !important;
}

.status-completed {
  background-color: $status-color-completed;
}
.status-incomplete {
  background-color: $status-color-incomplete;
}
.status-dropped {
  background-color: $status-color-dropped;
}

.pos-1 {
  color: $text-color-gold;
}
.pos-2 {
  color: $text-color-silver;
}
.pos-3 {
  color: $text-color-bronze;
}

.router-view {
  color: $text-color-gold;
}

.list-selected {
  color: $text-color-gold;
}

*:focus {
  outline: none;
}

.login-dialog {
  @media (max-width: 500px) {
    width: 50vw;
  }
  @media (max-width: 900px) {
    width: 80vw;
  }
  @media (min-width: 900px) {
    width: 60vw;
  }
  @media (min-width: 1200px) {
    width: 40vw;
  }
  
}
