a {
  text-decoration: none;
  margin: 5px;
}

body {
  background-color: $background-color-light;
  overflow-x: hidden;

  //   color: $background-color-dark;
}

body.dark-mode {
  background-color: $background-color-dark;
  h2,
  h1,
  p {
    color: $background-color-light;
  }
  .p-card {
    background-color: $background-color-dark2;
    color: white !important;
  }
  .playing-carrousel {
    background-color: $background-color-dark2 !important;
  }
}

.score-good {
  font-weight: 800;
  color: $text-color-green !important;
}
.score-mid {
  font-weight: 800;
  color: $text-color-yellow !important;
}
.score-bad {
  font-weight: 800;
  color: $text-color-red !important;
}
.score-perfect {
  font-weight: 800;
  color: $text-color-blue !important;
}

.status-completed {
  background-color: $status-color-completed;
  color: white;
}
.status-incomplete {
  background-color: $status-color-incomplete;
  color: white;
}
.status-dropped {
  background-color: $status-color-dropped;
  color: white;
}
