.search-input {
  border-color: $background-color-dark;
  @include darkInput();
}

.edit-button {
    background-color: transparent;
    color: #FBC02D !important;
  &:hover {
    background-color: $background-color-dark-yellow !important;
    color: white !important;
    border-color: $background-color-dark-yellow !important;
  }
}
.delete-button {
  background-color: transparent;
  color: #D32F2F !important;
  &:hover {
    background-color: $text-color-red !important;
    color: white !important;
    border-color: $text-color-red !important;
  }
}

.pink-button {
  @include colorButton($background-color-pink);
}
.blue-button {
  @include colorButton($text-color-blue);
}

.extra-large-avatar {
  width: 8rem !important;
  height: 8rem !important;
  border-radius: 50%;
}

.options-container {
  margin-bottom: 15px;
  width: 100%;
  .p-button {
    margin-right: 10px;
    @include blackButton();
  }
  .p-inputtext {
    margin-right: 1rem;
  }
  @include respond(phone) {
    .p-inputtext {
      width: 60%;
    }
    .p-button-label {
      display: none;
    }
    .p-button-icon {
      margin-right: 0;
    }
  }
}

.button-span {
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    color: $text-color-pink !important;
  }
}

.text-only-button {
  background: none;
  border: none;
  padding: 0;
  font-family: 'Roboto';

  &:hover {
    background: none !important;
  }
}

.score-good {
  font-weight: 800;
  color: $text-color-green !important;
}
.score-mid {
  font-weight: 800;
  color: $text-color-yellow !important;
}
.score-bad {
  font-weight: 800;
  color: $text-color-red !important;
}
.score-perfect {
  font-weight: 800;
  color: $text-color-purple !important;
}

.status {
  color: white !important;
  font-weight: 500;
  padding: 0.2rem;
  border-radius: 10px;
}

.status-completed {
  background-color: $status-color-completed;
}
.status-incomplete {
  background-color: $status-color-incomplete;
}
.status-dropped {
  background-color: $status-color-dropped;
}

.pos-1 {
  color: $text-color-gold;
}
.pos-2 {
  color: $text-color-silver;
}
.pos-3 {
  color: $text-color-bronze;
}
