.search-input {
  border-color: $background-color-dark;
  @include darkInput();
}

.extra-large-avatar {
  width: 8rem !important;
  height: 8rem !important;
  border-radius: 50%;
}

.options-container {
  margin-bottom: 15px;
  width: 100%;
  .p-button {
    margin-right: 10px;
    @include blackButton();
  }
  .p-inputtext {
    margin-right: 1rem;
  }
  @include respond(phone) {
    .p-inputtext {
      width: 60%;
    }
    .p-button-label {
      display: none;
    }
    .p-button-icon {
      margin-right: 0;
    }
  }
}

.score-good {
  font-weight: 800;
  color: $text-color-green !important;
}
.score-mid {
  font-weight: 800;
  color: $text-color-yellow !important;
}
.score-bad {
  font-weight: 800;
  color: $text-color-red !important;
}
.score-perfect {
  font-weight: 800;
  color: $gs-colors-purple !important;
}

.status {
  color: white !important;
  font-weight: 500;
  padding: 0.2rem;
  border-radius: 10px;
}

.status-completed {
  background-color: $text-color-green;
}
.status-incomplete {
  background-color: $gs-colors-dark-yellow;
}
.status-dropped {
  background-color: $text-color-red;
}

.pos-1 {
  color: $text-color-yellow;
}
.pos-2 {
  color: $gs-colors-silver;
}
.pos-3 {
  color: $text-color-bronze;
}
