@import './mixins.scss';
@import './mixins_buttons.scss';
@import './mixins_inputs.scss';
@import './variables.scss';
@import './fonts.scss';
@import './buttons.scss';
@import './base.scss';
@import './prime-react-overrides.scss';
@import './animations.scss';

@import './components.scss';

@import './pages/played_games.scss';
@import './pages/gamestats.scss';
@import './pages/uploadgame.scss';
@import './pages/homepage.scss';

@import './components/topbar.scss';
@import './components/playing_carrousel.scss';
@import './components/gamebox.scss';
@import './components/sidebar.scss';
@import './components/game_info_box.scss';
@import './components/star_icon.scss';
@import './components/custom_scroll_top.scss';
@import './components/game-info.scss';
@import './components/game_form.scss';
@import './components/dashboard_button.scss';
@import './components/search_game.scss';

@import './loading.scss';

