@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 678px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 840px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1040px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1400px) {
      @content;
    }
  }
}

@mixin centerContent($width: 80%) {
  @media screen and (min-width: 1500px) {
    margin-left: auto;
    margin-right: auto;
    width: $width;
  }
}

@mixin transition(
  $for: all,
  $time-in: 250ms,
  $type: ease-in-out,
  $time-out: 0s
) {
  transition: $for $time-in $type $time-out;
  -moz-transition: $for $time-in $type $time-out;
  -webkit-transition: $for $time-in $type $time-out;
  -o-transition: $for $time-in $type $time-out;
}

@mixin paddingX($length) {
  padding-left: $length;
  padding-right: $length;
}
@mixin paddingY($length) {
  padding-top: $length;
  padding-bottom: $length;
}
@mixin marginX($length) {
  margin-left: $length;
  margin-right: $length;
}
@mixin marginY($length) {
  margin-top: $length;
  margin-bottom: $length;
}