@mixin removeFocusBorder {
  &:focus {
    box-shadow: none;
  }
}

@mixin blackButton {
  border: none;
  background-color: black;
  color: white;
  &:hover {
    background-color: $background-color-purple;
  }
  &:focus {
    background-color: $background-color-purple;
    box-shadow: none;
  }
}

@mixin colorButton($color) {
  border: none;
  background-color: $color;
  &:hover {
    background-color: darken($color: $color, $amount: 20) !important;
  }
}