$background-gray-gradient: radial-gradient(
  circle,
  rgba(109, 105, 110, 0.1),
  rgba(109, 105, 110, 0.5)
);

$background-transparent: rgba(255, 255, 255, 0);

$background-color-dark2: #01060c;
$background-color-dark: #36393f;
$background-color-light: #edf1f5;
$background-color-purple: rgb(134, 9, 143);
$background-color-green: #25b838;
$background-color-yellow: #e7fa00;

$text-color-light: #fbfaf8;
$text-color-green: #36b246;
$text-color-yellow: #e7fa00;
$text-color-red: #ff0042;
$text-color-blue: #155495;
$text-color-dark-gray: #2f3135;
$text-color-light-gray: #959699;
$text-color-gold: #ffd700;
$text-color-silver: #00cbcb;
$text-color-bronze: #9a5a26;
$text-color-purple: #a30a9c;

$status-color-completed: #36b246;
$status-color-dropped: #ff0042;
$status-color-incomplete: #c79305;

$pointer-background: #f6f6f7;
