$background-gray-gradient: radial-gradient(
  circle,
  rgba(109, 105, 110, 0.1),
  rgba(109, 105, 110, 0.5)
);

$background-transparent: rgba(75, 72, 72, 0.116);
$background-transparent-darker: rgba(10, 10, 10, 0.64);
$background-color-semi-transparent-light: rgba(170, 170, 170, 0.4);
$background-gray-efect: linear-gradient(
  200deg,
  rgba(137, 137, 137, 0.64) 14%,
  rgba(3, 10, 0, 0.95) 100%
);

$background-color-dark: #0f0f0f;
$background-color-darker: #000000;

$gs-colors-purple: #86098f;
$gs-colors-pink: #bd0f75;
$gs-colors-dark-yellow: #a27d21;
$gs-colors-blue: #0662bd;
$gs-colors-silver: #00cbcb;

$text-color-light: #fbfaf8;
$text-color-green: #36b246;
$text-color-red: #ff0042;
$text-color-yellow: #ffd700;
$text-color-bronze: #9a5a26;

$pointer-background: #f6f6f7;
