@import "tailwindcss";

.content-container {
  min-height: calc(100vh - 78px);
  background-image: url(./images/17843421.jpg);
  background-size: cover;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode: lighten;
}

.content-container > .home-container {
  min-height: calc(100vh - 72px);
}

.file-uploader > span {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer !important;
}

.file-uploader > span > span {
  display: none;
}

.file-uploader > span > input {
  text-align: center;
  cursor: pointer;
}

.file-uploader > span > svg {
  display: none;
}

::-webkit-scrollbar { width: 8px; height: 3px;} 
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: white;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #ffd230; border-radius: 3px;}
::-webkit-resizer { background-color: #666;}