@import "tailwindcss";

.content-container {
  min-height: calc(100vh - 72px);
  background-image: url(./images/17843421.jpg);
  background-size: cover;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode: lighten;
}

.content-container > .home-container {
  min-height: calc(100vh - 72px);
}